@import "@/styles/variables.scss";

.btn {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: $radius;
  padding: 0.6rem 1.2rem;
  transition: background-color $transition, transform $transition, box-shadow $transition;
  font-weight: 500;

  &--none {
    padding: 0;
    background-color: transparent;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-primary-dark;

    &:hover:not(:disabled) {
      background-color: $color-primary-dark;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
  }

  &--passive {
    background-color: $color-passive;
    color: $color-text;
    border: 1px solid $color-border;

    &:hover:not(:disabled) {
      background-color: lighten($color-passive, 5%);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &--transparent {
    background-color: transparent;
    color: $color-primary;

    &:hover:not(:disabled) {
      text-decoration: underline;
    }
  }

  &--transparent-danger {
    background-color: transparent;
    color: $color-danger;

    &:hover:not(:disabled) {
      text-decoration: underline;
    }
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}