$color-primary: #80a44d;
$color-primary-dark: #6e8c3f;
$color-white: #ffffff;
$color-bg: #f7f7f7;
$color-border: #dcdcdc;
$color-passive: #d6d6d6;
$color-text-info: #777;
$color-text: #333;
$color-danger: #C44536;
$hover-item: rgba(0, 0, 0, 0.1);
$radius: 0.5rem;
$radius-l: 1rem;
$transition: 0.2s ease;