@import "@/styles/variables.scss";

.header {
  width: 100%;
  max-width: 56.25rem;
  padding: 2rem 1rem;
  margin: 0 auto;

  &__inner {
    display: flex;
    gap: 0.5rem;
    margin-inline: auto;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-primary-dark;
  }
}